@use '@/app/variables';

.section {
  @include variables.onlySectionWithBreadCrumbsPaddings;
  & {
    width: 100%;
  }
}

.title {
  @include variables.title-h1;
  & {
    color: variables.$primary-900;
    margin-bottom: 24px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
  }
}

.imgContainer {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 320 / 223;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    width: 388px;
    // aspect-ratio: 320 / 223;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 588px;
    height: 588px;
  }
}

.applicationTitle {
  @include variables.subtitle2-Bold;
  & {
    margin-bottom: 12px;
  }
}

.applicationValue {
  @include variables.bodyText-Regular;
  & {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 16px;
  }
}

.dot {
  list-style: inside;
}

.number {
  list-style-type: decimal;
  padding-left: 20px;
}

.descContainer {
  margin-bottom: 16px;
  & li:first-child {
    @include variables.bodyText-Regular;
    & {
      margin-bottom: 16px;
    }
  }
  & li:last-child {
    @include variables.subtitle2-Bold;
  }
}

.imgListContainer {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 24px;
  width: 100%;

  @media screen and (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 16px;
  }

  @media screen and (min-width: variables.$desktop) {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px;
  }
}

.imgList {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  aspect-ratio: 224 / 224;
  // height: 224px;
  box-shadow: -4px 4px 12px 0 rgba(45, 48, 55, 0.25);
  flex-shrink: 0;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    // width: 224px;
    // height: 224px;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 282px;
    height: 282px;
  }
}
.imgValue {
  @include variables.subtitle1-Regular;
  & {
    position: absolute;
    bottom: 0;
    border: 0.2px solid variables.$gray-900;
    width: 100%;
    padding: 2px 0;
    background-color: variables.$gray-0;
    text-align: center;
  }
}
