@use "@/app/variables";

.section {
  @include variables.onlySectionWithBreadCrumbsPaddings;

  & {
    width: 100%;
  }
}

.title {
  @include variables.title-h1;

  & {
    margin-bottom: 2px;
    color: variables.$primary-900;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 4px;
  }
}

.description {
  @include variables.bodyText-Regular;

  & {
    margin-bottom: 2px;
  }

  @media screen and (min-width: variables.$desktop) {
    width: 50%;
    margin-bottom: 4px;
  }
}

.lastDescription {
  margin-bottom: 12px;

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 24px;
  }
}

.productsList {
  margin-bottom: 16px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 24px;
  }
}

.productItem {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  @media screen and (min-width: variables.$tablet) {
    row-gap: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    row-gap: 24px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
    row-gap: 0px;
    column-gap: 16px;
  }

  @media screen and (min-width: variables.$desktop) {
     column-gap: 24px;
  }
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 586 / 586;

  @media screen and (min-width: variables.$tablet) {
    width: 50%;
    height: fit-content;
  }
}

.img {
  display: block;
  object-fit: cover;
}

.infoWrapper {
  width: 100%;

  @media screen and (min-width: variables.$tablet) {
    width: 50%;
  } 
}

.productTitle {
  @include variables.subtitle1-Bold;

  & {
    margin-bottom: 4px;
    color: variables.$primary-900;
  }

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 16px;
  }
}

.productDescription {
  @include variables.bodyText-Regular;
}

.anotherProductsSubTitle {
  @include variables.subtitle1-Bold;

  & {
    margin-bottom: 8px;
    color: variables.$primary-900;
  }

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 16px;
  }
}
