@use "@/app/variables";

.burgerMenuFrame {
  position: absolute;
  left: 0;
  top: 80px; // header height
  width: 100%;
  overflow: hidden;

  @media screen and (min-width: variables.$tablet) {
    top: 100px; // header height
  }
}

.burgerMenuSection {
  width: 100%;
  height: fit-content;
  background-color: variables.$bgColor;
  padding: 56px;

  @media screen and (min-width: variables.$tablet) {
    padding: 20px 32px;
  }

  @media screen and (min-width: variables.$desktop) {
    padding: 32px 120px;
  }
}

.burgerMenuSectionVisible {
  transform: translateY(0);
}

.burgerMenuSectionHidden {
  transform: translateY(-100%);
}
