@use '@/app/variables';

.title {
  @include variables.title-h1;

  & {
    margin-bottom: 12px;
    color: variables.$primary-900;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 24px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 12px;

  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
    row-gap: 0px;
    column-gap: 16px;
  }

  @media screen and (min-width: variables.$desktop) {
    column-gap: 24px;
    margin-bottom: 24px;
  }
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 586 / 586;

  @media screen and (min-width: variables.$tablet) {
    width: 50%;
  }
}

.img {
  display: block;
  object-fit: cover;
}

.mainArtName {
  @include variables.subtitle1-Regular;

  & {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px;
    text-align: center;
    color: variables.$gray-900;
    background-color: variables.$gray-0;
    border: 0.2px solid variables.$borderCardValue;
    // border: 0.2px solid variables.$gray-900;
  }
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 8px;

  @media screen and (min-width: variables.$tablet) {
    width: 50%;
    justify-content: flex-end;
    row-gap: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    display: block;
  }
}

.descriptionItem:not(:last-child) {
  margin-bottom: 2px;

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 4px;
  }
}

.sizesWrapper {
  width: fit-content;
}

.indent {
  @media screen and (min-width: variables.$desktop) {
    float: right;
    margin-left: 24px;
    margin-bottom: 24px;
  }
}

.sizesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 20px;
  box-shadow: -4px 4px 12px 0 #2d303740;

  @media screen and (min-width: variables.$desktop) {
    padding: 4px 24px;
  }
}

.sizesItem:not(:last-child) {
  margin-bottom: 20px;
}

.sizesText {
  margin-bottom: 2px;
  color: variables.$gray-900;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 4px;
  }
}

.sizesValuesList {
  margin-bottom: 4px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 8px;
  }
}

.sizesValue {
  @include variables.subtitle1-Bold;

  & {
    color: variables.$gray-900;
  }
}

.anotherTypesList {
  display: flex;
  column-gap: 16px;

  @media screen and (min-width: variables.$desktop) {
    column-gap: 24px;
  }
}

.anotherTypesItem {
  position: relative;
  overflow: hidden;
  width: calc((100% - 16px) / 2);
  aspect-ratio: 282 / 282;
  box-shadow: -4px 4px 12px 0 #2d303740;

  @media screen and (min-width: variables.$tablet) {
    width: calc((100% - 32px) / 3);
  }

  @media screen and (min-width: variables.$desktop) {
    width: calc((100% - 72px) / 4);
  }
}

.anotherTypeImg {
  display: block;
  object-fit: cover;
}

.artName {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2px;
  text-align: center;
  color: variables.$gray-900;
  background-color: variables.$gray-0;
  border: 0.2px solid variables.$borderCardValue;
  // border: 0.2px solid variables.$gray-900;
}
