@use '@/app/variables';

.section {
  @include variables.onlySectionWithBreadCrumbsPaddings;
  & {
    width: 100%;
  }
}

.title {
  @include variables.title-h1;
  & {
    color: variables.$primary-900;
    margin-bottom: 4px;
  }
}

.subtitle {
  @include variables.bodyText-Regular;
  & {
    margin-bottom: 8px;
  }
  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 20px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  @media screen and (min-width: variables.$tablet) {
    row-gap: 12px;
  }
  @media screen and (min-width: variables.$desktop) {
    row-gap: 24px;
  }
}

.containerContent {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
  }
}

.imgContainer {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 320 / 218;
  margin-bottom: 8px;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    width: 50%;
    height: fit-content;
    margin-bottom: 0;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 578px;
    height: 373px;
  }
}

.list {
  & li:nth-child(1),
  & li:nth-child(4) {
    margin-bottom: 4px;
  }
  & li:nth-child(2),
  & li:nth-child(3) {
    margin-bottom: 8px;
    @media screen and (min-width: variables.$tablet) {
      margin-bottom: 12px;
    }
  }
  @media screen and (min-width: variables.$desktop) {
    & li:nth-child(1),
    & li:nth-child(4) {
      margin-bottom: 8px;
    }
    & li:nth-child(2),
    & li:nth-child(3) {
      margin-bottom: 16px;
    }
  }
}

.desc {
  @include variables.bodyText-Regular;
}

.weightContainer {
  width: 227px;
  height: 96px;
  box-shadow: -4px 4px 12px 0 rgba(45, 48, 55, 0.25);
  background-color: variables.$gray-0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  & h3 {
    @include variables.bodyText-Regular;
    & {
      margin-bottom: 4px;
    }
    @media screen and (min-width: variables.$desktop) {
      margin-bottom: 8px;
    }
  }
  & p {
    @include variables.subtitle1-Bold;
    & {
      font-size: 24px;
    }
    @media screen and (min-width: variables.$desktop) {
      font-size: 28px;
    }
  }
  @media screen and (min-width: variables.$tablet) {
    width: 246px;
    height: 104px;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 456px;
    height: 82px;
  }
}
