@use "@/app/variables";

.title {
  @include variables.title-h1;

  & {
    margin-bottom: 12px;
    color: variables.$primary-900;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 24px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 8px;

  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
    row-gap: 0px;
    column-gap: 16px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: variables.$desktop) {
    column-gap: 24px;
    margin-bottom: 24px;
  }
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 586 / 586;

  @media screen and (min-width: variables.$tablet) {
    width: 50%;
    height: fit-content;
  }
}

.img {
  display: block;
  object-fit: cover;
}

.infoWrapper {
  width: 100%;

  @media screen and (min-width: variables.$tablet) {
    width: 50%;
  }
}

.description {
  margin-bottom: 8px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 16px;
  }
}

.sizesWrapper {
  margin-bottom: 8px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 16px;
  }
}

.sizesItem {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  padding: 4px 20px;
  box-shadow: -4px 4px 12px 0 #2d303740;

  @media screen and (min-width: variables.$tablet) {
    row-gap: 4px;
  }

  @media screen and (min-width: variables.$desktop) {
    row-gap: 8px;
    padding: 4px 52px;
  }
}

.sizesText {
  color: variables.$gray-900;
}

.sizesValue {
  @include variables.subtitle1-Bold;

  & {
    color: variables.$gray-900;
  }
}

.opportunityText {
  @include variables.bodyText-Bold;

  & {
    margin-bottom: 8px;
  }

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 28px;
  }
}

.highStripsList {
  display: flex;
  column-gap: 16px;

  @media screen and (min-width: variables.$desktop) {
     column-gap: 24px;
  }
}

.highStripsItem {
  position: relative;
  overflow: hidden;
  width: calc((100% - 16px) / 2);
  aspect-ratio: 282 / 282;
  box-shadow: -4px 4px 12px 0 #2d303740;
}

.highStripImg {
  display: block;
  object-fit: cover;
}

.opportunitySubTitle {
  @include variables.subtitle2-Bold;

  & {
    margin-bottom: 8px;
  }

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 16px;
  }
}

.roundedStripsList {
  display: flex;
  column-gap: 16px;

  @media screen and (min-width: variables.$desktop) {
    column-gap: 24px;
  }
}

.roundedStripsItem {
  position: relative;
  overflow: hidden;
  width: calc((100% - 16px) / 2);
  aspect-ratio: 282 / 282;
  box-shadow: -4px 4px 12px 0 #2d303740;

  @media screen and (min-width: variables.$tablet) {
    width: calc((100% - 32px) / 3);
  }

  @media screen and (min-width: variables.$desktop) {
    width: calc((100% - 72px) / 4);
  }
}

.roundedStripImg {
  display: block;
  object-fit: cover;
}
