@use '@/app/variables';

.section {
  @include variables.onlySectionWithBreadCrumbsPaddings;

  & {
    width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 24px;
  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 2px;
  }
  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 24px;
    column-gap: 24px;
  }
}

.contentWrapper {
  position: relative;
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 342 / 342;

  flex-shrink: 0;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    width: 50%;
    height: fit-content;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 586px;
    height: 586px;
  }
}

.imgValue {
  @include variables.subtitle1-Regular;
  & {
    position: absolute;
    bottom: 0;
    border: 0.2px solid variables.$gray-900;
    width: 100%;
    padding: 2px 0;
    background-color: variables.$gray-0;
    text-align: center;
  }
}

.title {
  @include variables.subtitle1-Bold;
  & {
    color: variables.$primary-900;
    margin-bottom: 16px;
  }
}

.descList {
  @include variables.bodyText-Regular;
  & {
    & li:nth-child(-n + 2) {
      @media screen and (min-width: variables.$tablet) {
        width: 90%;
      }
    }
    & li {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  @media screen and (min-width: variables.$desktop) {
    & {
      & li:nth-child(-n + 2) {
        @media screen and (min-width: variables.$tablet) {
          width: 50%;
        }
      }
      & li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.retreat {
  margin-bottom: 12px;
  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 0px;
  }
}

.subtitle {
  @include variables.bodyText-Bold;
}

.idSizesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4px 0;
  width: 282px;
  row-gap: 12px;
  box-shadow: -4px 4px 12px 0 rgba(45, 48, 55, 0.25);
  background-color: variables.$gray-0;
  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: variables.$desktop) {
    position: absolute;
    right: 0;
    top: 55px;
    margin-bottom: 0px;
  }
}

.idSizesItem {
  & h3 {
    @include variables.bodyText-Regular;
    & {
      margin-bottom: 8px;
    }
  }
  & p {
    @include variables.subtitle1-Bold;
  }
}

.imgListContainer {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 24px;
  width: 100%;

  @media screen and (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 16px;
  }

  @media screen and (min-width: variables.$desktop) {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px;
  }
}

.imgList {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  aspect-ratio: 224 / 224;
  // height: 224px;
  box-shadow: -4px 4px 12px 0 rgba(45, 48, 55, 0.25);
  flex-shrink: 0;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    // width: 224px;
    // height: 224px;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 282px;
    height: 282px;
  }
}
