@use '@/app/variables';

.section {
  @include variables.onlySectionWithBreadCrumbsPaddings;

  & {
    width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 12px;
  @media screen and (min-width: variables.$tablet) {
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 2px;
  }
  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 24px;
    column-gap: 24px;
  }
}

.contentWrapper {
  position: relative;
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 342 / 342;
  flex-shrink: 0;
  margin-bottom: 12px;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    width: 50%;
    height: fit-content;
    margin-bottom: 0;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 586px;
    height: 586px;
  }
}

.imgValue {
  @include variables.subtitle1-Regular;
  & {
    position: absolute;
    bottom: 0;
    border: 0.2px solid variables.$borderCardValue;
    color: variables.$gray-900;
    width: 100%;
    padding: 2px 0;
    background-color: variables.$gray-0;
    text-align: center;
  }
}

.title {
  @include variables.subtitle1-Bold;
  & {
    color: variables.$primary-900;
    margin-bottom: 8px;
  }
  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 16px;
  }
}

.descList {
  @include variables.bodyText-Regular;
  & {
    & li {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  @media screen and (min-width: variables.$desktop) {
    & {
      & li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.retreat {
  margin-bottom: 12px;
  @media screen and (min-width: variables.$desktop) {
    margin-bottom: 0px;
  }
}

.subtitle {
  @include variables.bodyText-Bold;
}

.idSizesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4px 20px;
  width: fit-content;
  row-gap: 8px;
  margin-bottom: 8px;
  box-shadow: -4px 4px 12px 0 rgba(45, 48, 55, 0.25);
  background-color: variables.$gray-0;
  color: variables.$gray-900;
  @media screen and (min-width: variables.$tablet) {
    row-gap: 12px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: variables.$desktop) {
    float: right;
    margin-bottom: 0px;
  }
}

.idSizesItem {
  & h3 {
    @include variables.bodyText-Regular;
    & {
      margin-bottom: 4px;
    }
    @media screen and (min-width: variables.$tablet) {
      margin-bottom: 8px;
    }
  }
  & p {
    @include variables.subtitle1-Bold;
  }
}
