@use '@/app/variables';

.imgListContainer {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  row-gap: 16px;
  width: 100%;

  @media screen and (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px;
  }
}

.imgList {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  aspect-ratio: 224 / 224;
  box-shadow: -4px 4px 12px 0 rgba(45, 48, 55, 0.25);
  flex-shrink: 0;
  & img {
    object-fit: cover;
  }
  @media screen and (min-width: variables.$tablet) {
    width: 100%;
  }
  @media screen and (min-width: variables.$desktop) {
    width: 282px;
    height: 282px;
  }
}
.imgValue {
  @include variables.subtitle1-Regular;
  & {
    position: absolute;
    bottom: 0;
    border: 0.2px solid variables.$gray-900;
    width: 100%;
    padding: 2px 0;
    background-color: variables.$gray-0;
    text-align: center;
  }
}

.imgCodeValue {
  @include variables.subtitle1-Regular;
  & {
    font-size: 14px;
  }
  @media screen and (min-width: variables.$tablet) {
    @include variables.subtitle1-Regular;
  }
}
