@use "@/app/variables";

.title {
  @include variables.title-h2;

  @media screen and (min-width: variables.$desktop) {
    margin-left: 36px;
    margin-bottom: 24px;
  }
}

.partnersList {
  // отсебятина
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: variables.$desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
