@use "@/app/variables";

.container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;

  @media screen and (min-width: variables.$tablet) {
    margin-bottom: 20px;
  }

  // @media screen and (min-width: variables.$desktop) {
  //   margin-bottom: 24px;
  // }
}

.value {
  @include variables.subtitle2-Regular;

  & {
    font-size: 12px;
    border: solid 1px transparent;
  }

  @media screen and (min-width: variables.$tablet) {
    @include variables.subtitle2-Regular;
  }
}

.backTitle {
  &:hover,
  &:focus {
    color: variables.$primary-900;
    border-bottom: solid 1px variables.$primary-900;
  }
}

.nowtitle {
  color: variables.$primary-900;
  border-bottom: solid 1px variables.$primary-900;
}
