@use '@/app/variables';

.container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 24px;
}

.value {
  @include variables.subtitle2-Regular;
  & {
    border: solid 1px transparent;
  }
}

.backTitle {
  &:hover,
  &:focus {
    color: variables.$primary-900;
    border-bottom: solid 1px variables.$primary-900;
  }
}

.nowtitle {
  color: variables.$primary-900;
  border-bottom: solid 1px variables.$primary-900;
}
